node_modules/
yarn.lock

logs/
*.logs


deploy/

.tmp/
.vscode/
docs/

.eslintrc.json
.gitattributes
.gitignore
.travis.yml
webpack.config.js
.github/
test/
tsconfig.json
tslint.json